@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.programs{
    padding: 1rem;
    @include tablet{
        padding: 2rem;
    }
    &__workout{
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        height: 10rem;
        margin: 1rem 0;
        border-radius: 0.5rem;
        @include tablet{
            width: 32%;
            height: 16rem;

        }
    }
    &__list{
        display:flex;
        flex-direction: column;
        @include tablet{
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    &__link{
        text-decoration:none;
    }
    &__add{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        padding: 1rem 0;
        border-radius: 8px;
        text-decoration: none;
        @include tablet{
            width: 60%;
            margin: 0 auto;
            margin-top: 1rem;
        }
    }
}

.programs-workout{
    &__overlay{
        position:absolute;
        height:100%;
        width:100%;
        background-color:black;
        opacity: 25%;
        border-radius: 0.5rem;
        top: 0;
    }
    &__content{
        position: absolute;
        z-index: 10;
        padding: 1rem;
        width: 100%;
        bottom: 0;
        @include tablet{
            height: fit-content;
        }
    }
    &__type{
        color: white;
        margin-bottom: 0.5rem;
    }
    &__heading{
        font-size: 1.3rem;
        font-weight: 600;
        color: white;
    }
    &__rating{
        display:flex;
        color: white;
        @include tablet{
            justify-content: space-between;
        }
    }
    &__dash{
        padding: 0 0.5rem;
        margin-bottom: 0;
        @include tablet{
            display:none;
        }
    }
    &__likes{
        margin-bottom: 0;
    }
    &__comments{
        margin-bottom: 0;
    }
    &__buttons{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;
    }
}

.add{
    &__text{
        margin-left: 1rem;
        margin-bottom: 0;
        text-decoration: none;
        color:black;
        &:hover{
            color:orange;
        }
    }
    &__icon{
        &:hover{
            fill:orange;
        }
    }
}